################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/HealthJournals/.vs/Health/v16
/Code/HealthJournals/.vs/Health/config/applicationhost.config
/Code/HealthJournalsIdentityServer/.vs/HealthJournals/config/applicationhost.config
/Code/HealthJournalsIdentityServer/.vs/HealthJournals/v16/.suo
/Code/HealthJournalsIdentityServer/bin/Debug/netcoreapp3.1
/Code/HealthJournalsIdentityServer/obj
/.vs/Health_Fitness_Journal_Portal/v16/.suo
/.vs/VSWorkspaceState.json
/Code/HealthJournals/bin/Debug/netcoreapp3.1
/Code/HealthJournals/obj
/Code/HealthBAL/bin/Debug/netcoreapp3.1
/Code/HealthBAL/obj
/Code/HealthConfiguration/bin/Debug/netcoreapp3.1
/Code/HealthConfiguration/obj/Debug/netcoreapp3.1
/Code/HealthConfiguration/obj
/Code/HealthDAL/bin/Debug/netcoreapp3.1
/Code/HealthDAL/obj
